<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-movierental" >
	<tr>
		<td>
			<f:translate key="tx_movierental_domain_model_movie.title" />
		</td>
		<td>
		{movie.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_movierental_domain_model_movie.description" />
		</td>
		<td>
		{movie.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_movierental_domain_model_movie.rating" />
		</td>
		<td>
		{movie.rating}
		</td>
	</tr>
</table>
</html>